    .h11{
        font-size: 553%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: brown;
        
    }
    .sec1{
        margin-top: 50px;
        background-color: rgb(5, 41, 41);
    }
    .secc2{  
        margin-top: 50px;
    }
.hot1{
    margin-right: 100px;
}
.btnpap{
    margin-left: 86px;
    background-color: rgb(245, 245, 245);
    
}

